<<<<<<< HEAD
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: 400;
}

body, div, article, aside, footer, header, main, nav,section, ul, ol, li, button, figure, picture {
    display: flex;
} 

body {
    margin: 0;
    flex-direction: column;
    background-color: var(--bg-color);
}

hr {
    &.divider {
        background-color: var(#FFF);
        height: 1px;
        width: calc(100% - 2em);
        margin: 3em 0;
        border: none;
        align-self: center;    
    }
}    
=======
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: "Poppins";
    font-weight: 400;
    color: var(--dark);
    scroll-behavior: smooth;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
>>>>>>> 22c5cc308fd57810099c9f951999e1b9bf4b3dd7
