@font-face {
    font-family: 'Poppins';
    src: local("Poppins Light"), url("../fonts/Poppins-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Poppins';
    src: local("Poppins Regular"), url("../fonts/Poppins-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: local("Poppins SemiBold"), url("../fonts/Poppins-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Poppins';
    src: local("Poppins Bold"), url("../fonts/Poppins-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}