footer {
    .footer-mobile {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 70px;

        a {
            display: inherit;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            font-size: 12px;
            color: #4B4B4B;
            text-decoration: none;
            margin-right: 10px;

            img {
                height: 22px;
                margin-bottom: 8px;
            }
        }
    }

    .footer-desktop {
        display: none;

    }
}

@media(min-width: 960px) {
    footer {
        width: 100vw;

        .footer-mobile {
            display: none;
        }

        .footer-desktop {
            display: flex;
            flex-direction: column;

            >hr {
                width: 96%;
                align-self: center;
                margin: 20px 0;
            }

            .cities {
                .title {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0 30px;
                    height: 40px;
                    margin-bottom: 20px;

                    >h2 {
                        font-size: 17px;
                        color: #3F3E3E;
                        font-weight: 600;
                    }

                    >a {
                        text-decoration: none;
                        font-size: 14px;
                        color: #EA1D2C;
                        margin-right: 0px;
                    }
                }
            }

            .footer-list-cities {
                padding: 0 30px;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;

                li.footer-list-item {
                    list-style: none;
                    margin-bottom: 30px;

                    >a {
                        color: #71757A;
                        text-decoration: none;
                        font-size: 14px;
                        font-weight: 400;
                    }
                }
            }

            .about {
                padding: 0 30px;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;

                .column-ifood {
                    h2 {
                        font-size: 17px;
                        color: #3F3E3E;
                        font-weight: 600;
                        margin: 20px 0;
                    }

                    min-width: 100px;
                    width: 170px;
                    height: auto;

                    li.footer-list-item {
                        list-style: none;
                        margin-bottom: 30px;

                        a {
                            color: #71757A;
                            text-decoration: none;
                            font-size: 14px;
                            font-weight: 400;
                        }
                    }

                }

                .column-findit-out {
                    h2 {
                        font-size: 17px;
                        color: #3F3E3E;
                        font-weight: 600;
                        margin: 20px 0;
                    }

                    li.footer-list-item {
                        list-style: none;
                        margin-bottom: 30px;

                        a {
                            color: #71757A;
                            text-decoration: none;
                            font-size: 14px;
                            font-weight: 400;
                        }
                    }

                }

                .column-social {
                    width: 110px;

                    h2 {
                        font-size: 17px;
                        color: #3F3E3E;
                        font-weight: 600;
                        margin: 20px 0 50px 0;
                    }

                    min-width: 180px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;


                    >ul {
                        display: flex;
                        align-items: center;
                        margin: -20px;
                        justify-content: flex-start;
                        padding: 0 24px;

                        li {
                            list-style: none;
                            margin-right: 15px;

                            a {
                                img {
                                    height: 29px;
                                }
                            }
                        }
                    }


                }
            }

            .copyright-terms {
                padding: 20px 30px;
                display: grid;
                grid-template-columns: 0.5fr 2.5fr 7fr;
                height: 150px;

                >a {
                    height: 100px;
                    width: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    margin-right: 15px;

                    img {
                        height: 40px;
                    }
                }

                .informations {
                    font-size: 11px;
                    color: #71757A;
                }

                .terms-links {
                    >ul {
                        display: flex;

                        li {
                            list-style: none;

                            a {
                                text-decoration: none;
                                font-size: 14px;
                                margin-right: 15px;
                            }
                        }
                    }
                }

            }
        }
    }
}

@media(min-width: 1200px) {
    fotter {
        .footer-desktop {
            .cities {
                .title {
                    >a {
                        margin-right: 0px;
                        color: blue;
                    }
                }
            }
        }
    }
}


@media(min-width: 1600px) {
    footer {
        padding: 0 100px;

        .footer-desktop {

            .copyright-terms {
                padding: 20px 30px;
                display: grid;
                grid-template-columns: 1fr 3fr 6fr;
                height: 110px;


                .informations {
                    width: 560px;
                    font-size: 12px;
                    color: #71757A;
                }

                .terms-links {
                    ul {
                        margin-left: 30px;
                    }
                }

            }

        }
    }
}

@media(min-width: 1920px) {
    footer {
        padding: 0 270px;
    }
}