*{
	align-items: center;
	margin: 0;
	padding: 0;
	justify-content: center;
	
}

section{
	padding: 20px;
	max-width: 100%;
}

main{
	display: flex;
	flex-direction: column;
	background-image: url(../images/login/bg-login.svg);
	background-repeat: no-repeat;
	background-position:  center 150%;
}

.logo {
	display: flex;
	margin: 0;
	margin-bottom: -150px;
	position: relative;
	z-index: 2;
	img {
		width: 85px;
		height: 50px;
		margin-top: 52px;
	}
	
}

svg{
	width: 257px;
	height: 239px;
	margin-top: 150px;
}

header {
	padding-top: 30px;
	text-align: center;
	p {
		margin-top: 25px;
	}
}

.btn-login{
	display: flex;
	flex-direction: column;
	a{
		img{
			margin-right: 18px;
		}
		height: 50px;
		width: 100%;
		display: flex;
		text-align: center;
		text-decoration: none;
		&.btn-facebook{
			background-color: #4065B4;
			border-radius: 4px;
		}
		&.btn-google{
			background-color: #FFFFFF;
			border-radius: 4px;
		}
	}
	
	img{
		width: 30px;
		height: 30px;
	}
	
}

.access{
	align-items: center;
	display: flex;
	justify-content: space-between;
	a{
		text-decoration: none;
		padding:18px;
		border: #C4C4C4 1px solid;
		border-radius: 4px;
		min-width: 156px;
		text-align: center;
	}
}
