#login {
	
	section{
		padding: 20px;
		max-width: 100%;
		h1 {
			font-weight: 600;
			color: var(--gray-41);
			margin-top: 1.5em;
		}
	}
	
	main{
		display: flex;
		flex-direction: column;
		background-image: url(../images/login/bg-login.svg);
		background-repeat: no-repeat;
		background-position:  center 143%;
		background-color: #FFF;
		align-items: center;
	}
	
	.logo {
		display: flex;
		justify-content: center;
		position: absolute;
		z-index: 2;
		width: 100%;
		img {
			width: 84px;
			height: 45px;
			margin-top: 52px;
		}
		
	}
	
	.ifood-illustration {
		width: 250px;
		margin-top: 45px;
	}
	
	header {
		padding-top: 30px;
		text-align: center;
		p {
			margin-top: 25px;
			color: var(--gray-71);
		}
	}
	
	.btn-login{
		display: flex;
		flex-direction: column;
		a{
			height: 50px;
			width: 100%;
			display: flex;
			text-align: center;
			justify-content: center;
			align-items: center;
			text-decoration: none;
			font-weight: 600;
			font-size: 13px;
			&.btn-facebook{
				background-color: #4065B4;
				border-radius: 4px;
				color: #FFF;
			}
			&.btn-google{
				background-color: var(--white);
				border-radius: 4px;
				color: var(--gray-a6);
				box-shadow: 0px 1px 4px rgb(0 0 0 / 5%), 0px 4px 16px rgb(0 0 0 / 6%);
			}
			img {
				margin-left: var(--space);
			}
			span {
				flex: 1;
			}
		}
		
		img{
			width: 30px;
			height: 30px;
		}
		
	}
	
	.access{
		align-items: center;
		display: flex;
		justify-content: space-between;
		a{
			text-decoration: none;
			padding:10px;
			border: 1px solid var(--gray-ccc);
			border-radius: 4px;
			max-width: calc(50% - 8px);
			flex: 1;
			text-align: center;
			color: var(--gray-a6);
			font-size: 13px;
			font-weight: 600;
		}
	}
	
	@media (min-width: 960px){
		.logo{
			display: block;
			padding-left: 50px;
			
			img{
				justify-content: flex-start;
				margin-top: 45px;
			}
		}
		
		main{
			flex-direction: row;
			align-items: center;
			background-position: -800px center;
			min-height: 100vh;
			justify-content: space-around;
		}

		.ifood-illustration{
			width: 498px;
			margin-top: unset;
		}
	
		section{
			display: flex;
			justify-content: flex-end;
			flex-direction: column;
			background-color: var(--white);
			box-shadow: 0 0 4px rgba(0,0,0,.1);
			border-radius: 8px;
			padding: 36px 50px 66px;
			width: 510px;
			header{
				align-items: flex-end;
				h1 {
					font-size: 2.5em;
					margin-top: 0;
				}
				p {
					font-size: 1.5rem;
				}
			}

		}
		.btn-login{
			min-width: 100%;
			a {
				font-size: 14px;
			}
		}
		.access{
			min-width: 100%;
			a{
				min-width: 46%;
				font-size: 14px;
				padding: 13px;
			}
		}
	}

	
	
	
	@media (min-width: 1700px){
		main{
			background-position: -70% 80%;
			background-size: 80%;
			justify-content: space-evenly;
			.ifood-illustration {
				margin-right: -150px;
			}
		}
	}
	
	
}
