@mixin button {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-left: 20px;
     width: 50%;
     background-color: transparent;
     outline: none;
     border: 1px solid #ccc;
     font-size: 15px;
     border-radius: 5px;
     padding: 10px;
}

@mixin card-image {
     width: 415px;
     height: 180px;
     background-size: cover;
     background-position: center;
     margin-bottom: 15px;
}