body.body-product {
    background: gray;
    padding-top: 40px;

    #product {
        background: #ffffffc4;
        border-radius: 10px;
        width: 100%;

        .bg-overlay {
            display: flex;
            flex-direction: column;

            .product-photo {
                padding: 18px;
                display: flex;
                flex-direction: column;

                >picture {
                    align-self: center;
                }
            }
        }

        .product-description {
            padding: 18px;
            background: #fff;
            border-radius: 10px;

            h1 {
                font-size: 19px;
                font-weight: 600;
            }

            .description {
                display: flex;
                align-items: flex-end;

                .price {
                    color: var(--green-50);
                    font-size: 19px;
                    font-weight: 600;
                    display: flex;
                    margin-right: 13px;
                }

                .text-description {
                    font-size: 11px;
                    margin-bottom: 2px;
                    margin-right: 13px;
                }

                .see-more {
                    font-size: 11px;
                    font-size: 14px;
                    color: red;
                }
            }

            .discount {
                display: flex;

                .label {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 40px;
                    height: 20px;
                    background: #50A773;
                    color: var(--white);
                    font-size: 12px;
                    margin-right: 13px;
                }

                .strike {
                    font-size: 14px;
                    color: var(gray-a6);
                    text-decoration: line-through;
                }
            }

            >hr {
                margin: 25px 0;
            }

            .btn-red {
                display: block;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 50px;
                background: red;
                color: var(--white);
                border-radius: 5px;
                margin-bottom: 30px;
            }

            .same-hall {
                h2 {
                    width: 100%;
                    font-size: 15px;
                    color: #3F3E3E;
                    font-weight: 600;
                    margin-bottom: 25px;
                }

                .product-same-hall {
                    display: flex;

                    li {
                        width: 99px;
                        height: 233px;
                        background: var(--white);

                        >a {
                            width: 99px;
                            img {
                                background: var(--gray-f2);
                                border-radius: 5px;
                            }
                            h3{
                                color: var(--green-50);
                                font-size: 14px;
                            }
                            p{
                               font-size: 13px; 
                               small{
                                   font-size: 9px;
                               }
                            }
                        }
                    }
                }
            }
        }
        .box-store, .ingredients {
            display: none;
        }
    }
    .hidden-mobile {
        display: none;
    }
    @media (min-width: 960px) {
        padding-top: var(--space);
        display: flex;
        align-items: center;
        min-height: 100vh;
        #product {
            @include limit-container;
            width: 90%;
            .bg-overlay {
                flex-direction: row;
                max-height: calc(100vh - calc(var(--space) * 2));
                > div {
                    width: 50%;
                }
                .product-photo {
                    justify-content: center;
                    background-color: var(--white);
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                    a {
                        display: none;
                    }
                    picture {
                        width: 100%;
                        text-align: center;
                        img {
                            width: 100%;
                        }
                    }
                }
                .product-description {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    h1 {
                        text-align: center;
                        font-size: 13px;
                        text-transform: uppercase;
                        font-weight: normal;
                        margin-bottom: 1rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        >span {
                            flex: 1;
                        }
                        > a {
                            display: inline-block;
                            margin-left: auto;
                        }
                        + .description {
                            .price {
                                display: none;
                                display: none;
                                + .text-description {
                                    display: none;
                                    + .text-description {
                                        display: block;
                                        color: var(--gray-71);
                                        font-size: 13px;
                                    }
                                }
                            }
                            .see-more {
                                display: none;
                            }

                        }
                    }
                    .discount {
                        .label, .strike {
                            display: none;
                        }
                        .price {
                           display: block;
                           margin-bottom: 1em; 
                        }
                        + hr {
                            display: none;
                        }
                    }
                    .btn-add-mobile {
                        display: none;
                    }
                    
                }
            }
            .same-hall {
                display: none;
            }
            .box-store, .ingredients {
                display: flex;
                flex-direction: column;
            }
            .box-store {
                border: 1px solid var(--gray-ddd);
                border-radius: 4px;
                padding: .75em 1.5em;
                font-size: 12px;
                .store-name {
                    display: flex;
                    img:not(:first-child) {
                        margin-left: 10px;
                    }
                    span {
                        margin-left: auto;
                    }
                }
                hr {
                    border: 1px dashed var(--gray-ddd);
                    margin: 10px 0;
                }
                .store-time {
                    color: var(--gray-87);
                }
            }
            .ingredients {
                header {
                    display: flex;
                    justify-content: space-between;
                    background-color: var(--gray-f2);
                    margin-left: -20px;
                    margin-right: -18px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    padding: 10px var(--space);
                    .title {
                        font-weight: 600;
                        font-size: 14px;
                        + p {
                            color: var(--gray-71);
                            font-size: 13px;
                        }
                    }
                }
                ul {
                    max-height: 200px;
                    overflow-y: auto;
                    margin-right: -18px;
                    padding-right: 10px;
                    .ingredient {
                        display: flex;
                        justify-content: space-between;
                        color: var(--gray-58);
                        border-bottom: 1px solid var(--gray-f2);
                        margin-bottom: 10px;
                        padding-bottom: 10px;
                        font-size: 15px;
                        .price {
                            color: var(--red);
                        }
                    }
                    @media (min-width: 1500px) {
                        max-height: 250px;
                    }
                }
                footer {
                    width: auto;
                    padding: 0;
                    display: flex;
                    justify-content: flex-end;
                    border-top: 1px solid var(--gray-ddd);
                    padding-top: .5em;
                    .quantity {
                        border: 1px solid var(--gray-ddd);
                        border-radius: 4px;
                        input {
                            font-size: 1.25rem;
                            font-weight: 600;
                            text-align: center;
                            width: 70px;
                            height: 48px;
                            border: 0;
                        }
                        button {
                            font-size: 1.25rem;
                            font-weight: 600;
                            height: 48px;
                            width: 48px;
                            border: 0;
                            background-color: transparent;
                            color: var(--red);
                            cursor: pointer;
                        }
                    }
                    .btn-red {
                        display: flex;
                        justify-content: space-between;
                        padding-left: var(--space);
                        padding-right: var(--space);
                        max-width: 240px;
                        margin-left: var(--space);
                        background-color: var(--red);
                        margin-bottom: 0;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}