:root {
        --bg-color: #FFF;
        --white: #FFF;
        --black: #000;
        --red: #E32119;
        --red-hover: #E4423B;
        --red-active: #C91D16;
        --green: #50A773;
        --blue: #336B8B;
        --gray: #A6A6B9;
        --dark-grey: #919191;
        --lead: #0F0F0F;
        --yellow: #E7A74E;       
}