:root {
<<<<<<< HEAD
        --bg-color: #FFF;
        --white: #FFF;
        --black: #000;
        --red: #E32119;
        --red-hover: #E4423B;
        --red-active: #C91D16;
        --green: #50A773;
        --blue: #336B8B;
        --gray: #A6A6B9;
        --dark-grey: #919191;
        --lead: #0F0F0F;
        --yellow: #E7A74E;       
=======
    --red: #ea1d2c;
    --dark: #1a1a1a;
    --gray-f7: #f7f7f7;
    --gray-e5: #E5E5E5;
    --white: #fff;
    --gray-71: #717171;
    --gray-99: #999;
    --space: 20px;
>>>>>>> 22c5cc308fd57810099c9f951999e1b9bf4b3dd7
}