:root {
    --red: #ea1d2c;
    --dark: #1a1a1a;
    --gray-f2: #f2f2f2;
    --gray-f7: #f7f7f7;
    --gray-e5: #E5E5E5;
    --white: #fff;
    --gray-ccc: #ccc;
    --gray-ddd: #ddd;
    --gray-3f: #3F3E3E;
    --gray-4b: #4B4B4B;
    --gray-58: #585858;
    --gray-71: #717171;
    --gray-75: #71757a;
    --gray-87: #878787;
    --gray-99: #999;
    --green:#499869;
    --orange:#cf8c1d;
    --gold: #E7A74E;
    --space: 20px;
}